<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Root tag mapper -->
<mapper namespace="com.solvd.laba.database.mapper.SponsorMapper">
    <resultMap id="sponsorResultMap" type="com.solvd.laba.database.model.Sponsor" autoMapping="false">
        <!--property - name in model || column - name in DB -->
        <id property="sponsorId" column="sponsor_id"/>
        <result property="name" column="name"/>
        <result property="sponsorshipAmount" column="sponsorship_amount"/>
    </resultMap>

    <!-- wrapped queries -->
    <select id="getSponsorById" resultMap="sponsorResultMap">
        SELECT * FROM sponsors WHERE sponsor_id = #{id}
    </select>

    <select id="getSponsors" resultMap="sponsorResultMap">
        SELECT * FROM sponsors
    </select>

    <!-- Insert a sponsor -->
    <insert id="insertSponsor" parameterType="com.solvd.laba.database.model.Sponsor">
        INSERT INTO sponsors (name, sponsorship_amount)
        VALUES (#{name}, #{sponsorshipAmount})
    </insert>

    <!-- Update an sponsor -->
    <update id="updateSponsor" parameterType="com.solvd.laba.database.model.Sponsor">
        UPDATE sponsors SET
        name = #{name},
        sponsorship_amount = #{sponsorshipAmount}
        WHERE sponsor_id = #{sponsorId}
    </update>

    <!-- Delete an sponsor by ID -->
    <delete id="deleteSponsor" parameterType="com.solvd.laba.database.model.Sponsor">
        DELETE FROM sponsors
        WHERE sponsor_id = #{sponsorId}
    </delete>

</mapper>